<ion-header class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>

    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="/assets/img/219969.png" alt="picture user">
    </ion-avatar>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar>
      <img src="/assets/img/219969.png" alt="picture user">
    </ion-avatar>
    <ion-label>
      <p>Bienvenido,</p>
      <h3>{{ user.datos_personales.nombre}} {{ user.datos_personales.apellido}}</h3>
    </ion-label>
    
  </ion-item>
  
</ion-header>


<ion-content [fullscreen]="true">
  <div class="head-home">
  

    <div class="main">
      <h1></h1>
      <swiper-container [options]="{ slidesPerView: 3, loop: true }">
        <swiper-slide *ngFor="let item of componentes" (click)="itemClicked(item)">
          <ion-card>
            <ion-card-header>
              <span>
                <ion-icon name="qr-code-outline" title="Barcode-Scanner"></ion-icon>
              </span>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>{{ item.descripcion }}</ion-card-title>
              <ion-card-subtitle>{{ item.codigo }}</ion-card-subtitle>
              <div *ngFor="let horario of item.horario">
                <p></p>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  
</ion-content>
