<ion-header class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [fullscreen]="true">

  <section class="main">

    <h1>Perfil</h1>

    <div class="floating-card">
      <ion-avatar>
        <img src="/assets/img/219969.png" alt="picture user">
      </ion-avatar>

      <ion-list>
        <div [routerLink]="['/detalles-cuenta']">
          <h2>Editar Perfil</h2>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <div>
          <h2>Notificaciones</h2>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-list>
    </div>


  </section>

</ion-content>