.input {
  font-size: 300;
  
}


ion-item {
  --background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 16px;
}


.header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  .ion-logo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 0 auto 10px;
    

    ion-img {
      position: relative;
      right: 3px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position:center;
    }
  }

  ion-title {
    color: #222831;
    position: static;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p {
    color: #222831;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}


.box-links {
  color: #222831;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 30px;
  align-items: center;
}


.ion-link {
  color: #222831;
}

.btn-signIn {
  --background: rgba(45, 112, 229, 1);
  display:block;
  color: white;
    font-size: 20px;
}

.btn-boxSign {
  display: flex;
  ion-button {
    --background: rgba(45, 112, 229, 1);
    display: block;
    width: 50%;
    color: white;
    font-size: 20px;
  }
}





.separator {
  display: flex;
  gap: 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  hr {
    position: relative;

    bottom: 10px;
    width: 40%;
    height: 21px;
    border: none; /* Elimina el borde predeterminado */
    border-bottom: 2.5px solid #000000; /* Establece un borde superior de 1 píxel sólido en color gris */
    margin: 10px auto;

  }
}


.footer {
  margin-top: 60px;
  text-align: center;
}