<ion-header class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>

    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="/assets/img/219969.png" alt="picture user">
    </ion-avatar>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar>
      <img src="/assets/img/219969.png" alt="picture user">
    </ion-avatar>
    <ion-label>
      <p>Bienvenido,</p>
      <h3>{{ user.datos_personales.nombre}} {{ user.datos_personales.apellido}}</h3>
    </ion-label>
    
  </ion-item>
  
</ion-header>


<ion-content [fullscreen]="true">
  <div class="head-home">
  

    <div class="main">
      <h1>{{ nombreDia }} {{ dia }} de {{ nombreMes }}</h1>
      <swiper-container [options]="{ slidesPerView: 3, loop: true }">
        <swiper-slide *ngFor="let clase of componentes">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>{{ clase.curso }}</ion-card-title>
              <ion-card-subtitle>{{ clase.codigo }}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                {{ clase.profesor }}
              </p>

              <span>
                <ion-icon name="qr-code-outline" title="Barcode-Scanner" (click)="startScan"></ion-icon>
              </span>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  
</ion-content>
