// ion-toolbar {
//   --background: rgb(255, 255, 255);
//   --border-color: white;
// }

// .head-home {
//   width: 100%;
//   margin: 10px auto 0;


//   h1{
//     font-size: 25px;
//     text-align: center;
//   }

// }


ion-header {
  ion-toolbar,
  ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
  ion-title {
    text-align: center;
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: linear-gradient(
    90deg,
    rgba(43, 90, 148, 1) 0%,
    rgba(45, 112, 229, 1) 35%,
    rgba(45, 112, 229, 1) 100%
  );

  .main {
    background: #f1f5f8;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
  }

  ion-card {
    width: 100%;
    box-shadow: 1px 1px 4px 4px rgba(191, 191, 191, 0.4);
    border-radius: 14px;
    padding: 14px;
    background: rgba(255, 255, 255, 0.8);
  }
}